.cart-detail-btn{
    font-family: "Afacad Flux", sans-serif;
    background-color: #46B076;    
    color: black;
    font-weight: bold;
}

.cart-detail-btn:hover {
    background-color: #E4C520;   
    border: #E4C520 1px solid; 
}

.cart-detail-btn:active {
    background-color: #46B076 !important;   
    border: #46B076 1px solid !important; 
}