.cart-detail-btn{
    font-family: "Afacad Flux", sans-serif;
    background-color: #BDB76B;    
    color: black;
    font-weight: bold;
}

.cart-detail-btn:hover {
    background-color: #b8b042;   
    border: #b8b042 1px solid; 
}

.cart-detail-btn:active {
    background-color: #BDB76B !important;   
    border: #BDB76B 1px solid !important; 
}