.card {
    height: 440px;
}

.card .card-img {
    height: 286.4px;
}

.card .card-body {
    display: flex;
    flex-direction: column;
}

.card .card-body h5 {
    height: 48px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Afacad Flux", sans-serif;   
}

.card .card-body p{
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
}

.card .card-body .item-btn {
    font-family: "Afacad Flux", sans-serif;
    background-color: #BDB76B;    
    color: black;
    font-weight: bold;
}

.card .card-body .item-btn:hover {
    background-color: #b8b042;   
    border: #b8b042 1px solid; 
}

.card .card-body .item-btn:active {
    background-color: #BDB76B !important;   
    border: #BDB76B 1px solid !important; 
}