.loader {
    font-size: 30px;
    margin-top: 5rem;
    text-align: center;
    font-family: "Shantell Sans", cursive;
}

.saludo {
    text-align: center;
    margin-top: 1rem;
    font-family: "Shantell Sans", cursive;
}