.nav-contenedor {
    background-color: #acd56a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;

}

.nav-contenedor .logo {
    height: 100px;
}

.nav-contenedor .a-container .nav-category {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: green;
    font-size: 20px;
    font-family: "Shantell Sans", cursive;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-contenedor .a-container .nav-category:hover{
    transform: scale(1.2);
}