.nav-contenedor {
    background-color: #8cd56a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;

}

.logo {
    height: 100px;
}

.a-container a {
    margin-left: 50px;
    margin-right: 50px;

}